:root{
  --primary-color: #3869eb;
  --primary-text-color:#ff8682;
  --second-text-color:#313131;
  --white-color:#ffffff;
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}
.logo-principal{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
}
.logo-principal>span{
  font-size: 25px;
}
.reverse{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 57%;
  height: 100%;
}
.reverse>span{
  font-size: 25px;
}
.icon{
  display: block;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  margin:0px 10px;
}
.icon-logo{
  background: url(/images/logo.svg);
  height: 45px;
  width: 30px;
}
.principal{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container2{
  margin: 65px 150px;
}
.container{
  margin: 60px 0 0 130px;
}
.page_main__GlU4n {
  min-height: 0 !important;
  padding: 0 !important;
}
.images-login{
  padding: 15px;
  width: 100%;
  height: 100%;
}
.container>div:last-child{
  display: grid;
  grid-template-columns: 30% 25%;
  width: 100%;
}
.container2>div:last-child{
  display: grid;
  grid-template-columns: 30% 25%;
  width: 100%;
}

.login-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header >div:nth-child(1){
  display: flex;
  align-items: center;
  
}
.header >h4{
  text-align: center;
  color: var(--second-text-color);
  margin: 15px 0 40px 0;
}
.header div:nth-child(3){
  margin: 20px 0;
}
.header >div:nth-child(2){
  margin: 15px 0;
}
.header >div:nth-child(7){
  display: flex;
  justify-content: space-evenly;
}
.recuerda{
  display: flex;
  justify-content: center;
}
.recuerda >h4{
  color: var(--second-text-color);
}
.recuerda >a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text-color);
}
.referencia{
  display: flex;
  flex-direction: column;
}
.referencia>h1{
  font-size: 35px;
  color: var(--second-text-color);
}
.referencia>h4{
  font-size: 15px;
  color: var(--second-text-color);
}
.btn-primary{
  background: var(--primary-color);
  border: none;
  width: 100%;
  height: 35px;
  font-size: 15px;
  color: var(--white-color);
}
.btn-transparent{
  width: max-content;
  height: max-content;
  padding: 15px 25px;
  background: transparent;
  border: 1px solid var(--primary-color);
}
.btn-transparent>img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.secundari{
  display: flex;
}
.secundari>div:nth-child(1){
  display: flex;
  flex-direction: column;
}
.secundari > .login-viwer{
  width: 100%;
  height: 100%;
  display: flex !important;
  overflow: auto;
}
.login-viwer >div{
  display: flex;
}
.login-viwer >div>img{
  display: flex;
  width: 450px;
  height: 500px;
}
.top-input{
  position: relative;
  display: flex;
  align-items: center;
}
.input-primary{
  width: 100%;
  margin: 15px 0 0 0;
  height: 25px;
  border-radius: 5px;
}
.input-secondary{
  width: max-content;
  margin: 15px 3px 0 0;
  padding: 0 25px ;
  height: 25px;
  border-radius: 5px;
}
.label{
  position: absolute;
  top: 5px;
  left: 13px;
  background: var(--white-color);
}
.service{
  display: flex;
  justify-content: space-around;
}
.check{
  display: flex;
}
.check>input{
  width: 25px;
  height: 25px;
}
.sign-up{
  display: flex;
}
.sign-up>div:nth-child(2){
  display: flex;
  flex-direction: column;
}
.registre{
  display: flex;
  flex-direction: column;
}
.image-registre{
  width: 100%;
  height: 100%;
  display: flex !important;
  overflow: auto;
}
.image-registre>div>img{
  display: flex;
  width: 500px;
  height: 600px;
}
.nombre{
  display: flex;
  margin-right: 10px;
  width: 100%;
}
.naranja{
  color: var(--primary-text-color);
}