:root{
    --text-color:#252B42;
    --second-text-color:#737373;
    --primary-color:#FF7B47;
    --secondary-color-1:#0D5C63;
    --light-text-color:#FFFFFF;
    --vector-color:#E51F5A;
    --vector-color-2:#21A6DF;
    --vector-color-3:#E42F08;
    --disable-element:#8EC2F2;
}
body{
    font-family: "Montserrat", sans-serif;
    margin: 0 ;
    padding: 0;
}
header{
    background:url(../imagen/cover.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 1000px;
    overflow: hidden;
    background-repeat: no-repeat;
    padding: 1% 3% 1% 10%;
}
nav{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    height: 100px;
    background-color: transparent;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 182px;
}

nav > div:nth-child(1)>h1{
    color: var(--text-color);
    margin: 30px 0;
    font-size: 24px;
    line-height: 32px;
} 

nav > div:nth-child(2){
    display: flex;
    align-items: center;
    margin-left: 65px;
    flex-direction: row;
    font-size: 14px;
}
.vector{
    display: flex;
    align-items: center;
    justify-content: end;
}
nav > div:nth-child(2)>a{
    text-decoration: none;
    color: var(--second-text-color);
    font-weight: 600;
    font-size: 14px;
    margin-right: 25px;
}


.container{
    display: grid;
    flex-direction:column;
    margin-top: 160px;
    margin-bottom: 160px;
    width: 35%;
    margin-left: 182px;
}

.col-md-6 > h1{
    font-size: 58px;
    color: var(--text-color);
    width: 60%;
    text-align: justify;
}
.col-md-6 > h4{
    font-size: 20px;
    color: var(--second-text-color);
    width: 60%;
    padding: 2%;
}

.btn{
    border: none;
    border-radius: 37px;
    font-weight: 600;
    display: flex;
    justify-content: start;
    padding: 0 24px 0 24px;
}
.btn-round{
    background-color: var(--primary-color);
    color: var(--light-text-color);
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 154px;
    margin: 26.600px 0;
    margin-right: 24px;
}
.btn-primary{
    background-color: transparent;
    color: var(--secondary-color-1);
    border: 1px solid var(--secondary-color-1);
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 154px;
    margin: 26.600px 0;
}
.sevice{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    column-gap: 10px;
    height: 200px;
    width: 100%;
    position: absolute !important;
    bottom: -130px;
}
.sevice > div:nth-child(1) {
    background-color: var(--light-text-color);
    margin: 0 15px;
    padding: 50px 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap:10px;
}
.sevice > div:nth-child(2) {
    background-color: var(--light-text-color);
    position: relative; 
    bottom: -10px; 
    padding: 5%;
}
.sevice > div:nth-child(3) {
    background-color: var(--secondary-color-1);
    position: relative; 
    bottom: -10px; 
    padding: 5%;
}
.col-md-4 > h3{
    color: var(--text-color);
    font-size: 24px;
}
.col-md-4 > p{
    color: var(--second-text-color);
    font-size: 14px;
}

.features-10{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    flex-direction: column;
}
.features-10 >div:nth-child(1)>h2{
    color: var(--text-color);
    font-size: 40px;
}
.features-10 >div:nth-child(1)>p{
    color: var(--second-text-color);
    font-size: 14px;
    line-height: 0px;
}
.features-10 >div:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 475px 0px 338px;
}

.features-10 >div:nth-child(2)>div{
    width: 230px;
    flex-direction: column;
}
.features-10 >div:nth-child(2)>div>h2{
    color: var(--text-color);
    font-size: 35px;

}
.features-10 >div:nth-child(2)>div>h5{
    color: var(--second-text-color);
    font-size: 14px;
}
.content-public{
    display: flex;
    flex-direction: column;
}
.content-public > div:nth-child(1){
    flex-direction: column;
    text-align: center;
}
.content-public > div:nth-child(2){
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.features-10{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    flex-direction: column;
}
.features-20 > div:nth-child(1){
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 243px;
    text-align: center;
}
.features-20 > div:nth-child(1)>h2{
    color: var(--text-color);
    font-size: 40px;
    margin: 7px;
}
.features-20 > div:nth-child(1)>p{
    color: var(--second-text-color);
    font-size: 14px;
    letter-spacing: 0.2px;
}
.features-20 >div:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0px 500px 0% 322px;
}
.features-20 > div:nth-child(2)>div>h5{
    color: var(--text-color);
    font-size: 16px;
    width: 135px;
    text-align: left;
    line-height: 24px;
    padding-left: 30px;
}
.features-20 > div:nth-child(2)>div>p{
    color: var(--second-text-color);
    font-size: 16px;
    width: 193px;
    text-align: left;
    line-height: 24px;
    padding-left: 30px;
}

.logear{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 57%;
}
.logear>div:nth-child(1)>h3{
    color: var(--text-color);
    font-size: 24px;
    text-align: left;
    line-height: 24px;
}
.logear>div:nth-child(1)>p{
    color: var(--second-text-color);
    font-size: 14px;
    text-align: left;
}
.btn-second{
    border: none;
    background-color: var(--primary-color);
    color: var(--light-text-color);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    width: 160px;
    height: 58px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
}
footer{
    padding: 0 !important;
    margin: 0;
}
footer > div:nth-child(1){
    padding: 0 73px 1% 320px;
}
footer > div:nth-child(1)>h3{
    color: var(--text-color);
    font-size: 24px;
}
footer > div:nth-child(1)>p{
    color: var(--second-text-color);
    font-size: 14px;
}
footer > div:nth-child(2){
    background-color: var(--text-color);
    display: grid;
    padding: 0px 0px 0% 322px;
    grid-template-columns: 15% 15% 15% 15% 35%; 
    justify-content: space-between;
}
#phone{
    color: var(--disable-element);
}
#map-pin{
    color: var(--disable-element);
}
#send{
    color: var(--disable-element);
}
footer > div:nth-child(3){
    padding: 40px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--second-text-color);
    font-weight: 800;
    font-size: 0.8em;
}
footer > div:nth-child(3) > div:last-child{
    width: 35%;
    text-align: center;
}

footer > div:nth-child(3) a > svg#instagram{
    color: var(--vector-color);   
    margin: 0px 10px;
}
footer > div:nth-child(3) a > svg#youtube{
    color: var(--light-text-color);
    fill: var(--vector-color-3);  
    stroke-width: 1px; 
    margin: 0px 10px;
}

footer > div:nth-child(3) a > svg#twitter{
    fill: var(--vector-color-2);
    stroke: var(--vector-color-2);
    stroke-width: 0.2em;
}

footer > div:nth-child(3) a:first-child{
    display: inline-block;
}
footer > div:nth-child(3) a > svg#facebook{
    fill: var(--light-bg-color);
    stroke: var(--light-bg-color);
    stroke-width: 0.2;    
}

footer  > div:nth-child(2)  ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer > div:nth-child(2) ul li a{
    display: block;
    text-decoration: none;
    color: var(--light-text-color);
    margin: 20px 0px;
    font-weight: 800;
    font-size: 0.8em;
}
footer > div:nth-child(2) h5{
    color: var(--light-text-color);
    font-size: 15px;
}
footer > div:nth-child(2) p{
    color: var(--light-text-color);
    font-weight: 800;
    font-size: 0.8em;
}
footer > div:nth-child(2) > div:nth-child(3) > div{
    text-align: center;
}

footer > div:nth-child(2) > div:nth-child(3) > div > p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}

footer > div:nth-child(2) > div:nth-child(3) > div > p >svg, footer > div:nth-child(2) > div:nth-child(3) > div > p >i{
    margin-right: 10px;
    color: var(--light-text-color);
}
footer > div:nth-child(3){
    padding-left: 320px;
    padding-right: 100px;
}

.icon-facebook{
    display: block;
    background: url(/imagen/icon-facebook.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 25px;
    height: 25px;
}

