:root{
  --primary-text-color:#ece911;
  --primary-color:#5d50c6;
  --text-ligth-color:#eeeeee;
}
body{
  margin: 0;
  padding: 0;
}
.cuadrado{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7px 50px 0 50px;
  border-radius: 10px;
  box-shadow: 0 9px 19px 9px rgb(0 0 0 / 86%);
}
.cuadrado > h1{
  font-size: 26px;
}
.cuadrado > img{
  width: 300px;
  height: 400px;
}
.cuadrado > h3{
  font-size: 20px;
}
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.container :nth-child(1){
  display: flex;
  margin: 0 2px 0 0;
}
.tarjetas{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 50px 0 80px 0;
}

.btn{
  background: #5d50c6;
  border: 1px solid #53515193;
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 10px;
}
.btn-primary{
  border: none;
  background: var(--primary-color);
  color: var(--text-ligth-color);
}
.btn-transparent{
  background: transparent;
  color: black;
  border: 1px solid #000;
}
.videos{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px;
  margin: 0 0 80px 0;
}
.vd{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  width: 29%;
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: 0 9px 19px 9px rgb(0 0 0 / 86%);
}
.vd > h1{
  font-size: 35px;
}
.vd > video{
  width: 100%;
  height: 100%;
}
.vd :nth-child(2){
  font-size: 15px;
}
.plan{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #00000033;
  width: 15%;
  padding: 35px 40px;
}
.plan > img{
  width: 100px;
  height: 60%;
}
.plan > ul {
  padding-left: 0;
}
.plan > ul > li {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 15px;
}
.plan > ul > li > svg{
  stroke: green;
}
.tarjeta-plan{
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
.red>button{
  background: transparent;
  color: black;
  border: 1px solid red;
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 10px;
  color: red;
}

/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
